$color-primary: #FF9900;
$color-additinal: #FF7549;
$color-background: #FFEEE1;
$color-link: #1943EF;
$color-heading: #2F281E;
$color-text: #544837;
$color-button: #173A56;
$color-button_hover: #BCD0E5;
$color-border: #BCD0E5;
$color-border-additinal: #D7D7D7;
$color-tag-colored: #F5F5F5;
$color-hamburger: #173A56;

$color-violet: #7752BE;
$color-yellow: #FAB005;
$color-red: #F03E3D;
$color-blue: #4DADF7;
$color-light: #FFFFFF;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 375px;
$mobile-small-width: 320px;
